:root {
        --ic-brand-primary-darkened-5: #0087D7;
--ic-brand-primary-darkened-10: #0080CC;
--ic-brand-primary-darkened-15: #0079C1;
--ic-brand-primary-lightened-5: #0C93E3;
--ic-brand-primary-lightened-10: #1999E4;
--ic-brand-primary-lightened-15: #269EE6;
--ic-brand-button--primary-bgd-darkened-5: #0087D7;
--ic-brand-button--primary-bgd-darkened-15: #0079C1;
--ic-brand-button--secondary-bgd-darkened-5: #2B3942;
--ic-brand-button--secondary-bgd-darkened-15: #27333B;
--ic-brand-font-color-dark-lightened-15: #4C5860;
--ic-brand-font-color-dark-lightened-30: #6C757C;
--ic-link-color-darkened-10: #0080CC;
--ic-link-color-lightened-10: #1999E4;
--ic-brand-primary: #008EE2;
--ic-brand-font-color-dark: #2D3B45;
--ic-link-color: #008EE2;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #2D3B45;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #0a86bf;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: var(--ic-link-color);
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #f71057;
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #0a86bf;
--ic-brand-header-image: url('https://canvas.donga.ac.kr/accounts/1/files/24/download?verifier=N9HwfatHvHB48kOVU64SupwVnhIBGL0pTmMG0abw');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://canvas.donga.ac.kr/accounts/1/files/25/download?verifier=jMe9VW37JT588te6DEcsvZ5NUdf7oVpdVjJiIXGh');
--ic-brand-apple-touch-icon: url('https://canvas.donga.ac.kr/accounts/1/files/26/download?verifier=aTbViy0XvDdNwxGL6JFlNirovkg1xOjLgEaqhGJ5');
--ic-brand-msapplication-tile-color: #0a86bf;
--ic-brand-msapplication-tile-square: url('https://canvas.donga.ac.kr/accounts/1/files/27/download?verifier=CBb9502MCVLw8pNF9OZhM23I3yNI2zYwLIJnrHZ4');
--ic-brand-msapplication-tile-wide: url('https://canvas.donga.ac.kr/accounts/1/files/28/download?verifier=DTtJP4EVo6JBbkjxW4mHqhOLiRQ7AKYENJvU6Zqy');
--ic-brand-right-sidebar-logo: url('https://canvas.donga.ac.kr/accounts/1/files/29/download?verifier=4qqABN1rQM3Yx3TQNEIHAejCj3mCCnK1ZCg1raAj');
--ic-brand-Login-body-bgd-color: #394B58;
--ic-brand-Login-body-bgd-image: url('https://canvas.donga.ac.kr/accounts/1/files/30/download?verifier=lKqNC8pq31fIH3wkM6YDYqmLqyrngOmRE4oieIZV');
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://canvas.donga.ac.kr/accounts/1/files/31/download?verifier=kZJhVJeCf8DKNkBPa2Fere5aDohTpZI9zloK69ur');
--ic-brand-Login-Content-bgd-color: none;
--ic-brand-Login-Content-border-color: none;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #222222;
--ic-brand-Login-Content-password-text-color: #222222;
--ic-brand-Login-footer-link-color: #222222;
--ic-brand-Login-footer-link-color-hover: #222222;
--ic-brand-Login-instructure-logo: #ffffff;
      }